{% extends "core/base.html" %}

{% block title %}Portafolio{% endblock %}

{% block headers %}
    <h1>Portafolio</h1>
    <span class="subheading">Páginas web</span>
{% endblock %}

{% block backgroundImage %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block content %}
    {% for project in  projects%}    
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="ml-5 md-5">
                <h2 class="section-heading title">{{project.title}}</h2>   
                <p>{{project.description|safe}}</p>
                {% if project.link %}
                    <p><a href="{{project.link}}">Enlace a la página</a></p>                 
                {% endif %}   
            </div>
        </div>
    {% endfor %}
{% endblock %}