{% extends "core/base.html" %}


{% block title %}Acerca de{% endblock %}


{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografia</span>
{% endblock %}


{% block backgroundImage %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}


{% block content %}


<div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Berny Valverde</h2>   
        <p>Soy un desarrollador junior con gran interés por la tecnología y la 
            programación, desde que era niño mi padre me inspiro el amor por las 
            computadoras y la informática. Tengo sólidos conocimientos en Python, Django,
             GitHub y vs code y familiaridad con c#, java, HTML, CSS y frameworks como ASP.NET. 
             Aunque aún no tengo experiencia profesional, he trabajado en varios proyectos 
             personales, donde he aprendido a resolver problemas complejos, colaborar con 
             otros desarrolladores durante mi paso por la universidad y optimizar el código 
             para mejorar su rendimiento. Me motiva el aprendizaje continuo y estoy 
             constantemente explorando nuevas herramientas y tecnologías.</p>
        <p>Mi enfoque está en mejorar mis habilidades en el desarrollo web y de 
            software, y me encanta enfrentarme a nuevos desafíos que me permitan 
            seguir creciendo. Actualmente, estoy buscando una oportunidad que me 
            permita poner en práctica lo que he aprendido y continuar desarrollándome en 
            un entorno colaborativo y dinámico. Soy una persona proactiva, con buena 
            capacidad para trabajar en equipo, y siempre dispuesto a aprender de los demás.</p>
    </div>
{% endblock %}