
{% extends "core/base.html" %}

{% block title %}Contactos{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Enlaces</span>
{% endblock %}

{% block backgroundImage %}{% load static %}{% static 'core/img/contacto.jpg' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Para contactos o más información, contactar en los siguientes enlaces.</p>
        <br>
        <p><b>Teléfono:</b> <a href="{{LINK_WHATSAAP}}"> 8431 2361</a></p>  
        <p><b>Correo electrónico:</b> <a href="{{LINK_GMAIL}}"> vgberny@gmail.com</a></p>  
        <p><b>Linked in:</b> <a href="{{LINK_LINKEDIN}}"> Enlace a Linked in</a></p>  
        <p><b>GitHub:</b> <a href="{{LINK_GITHUB}}"> Enlace a GitHub</a></p>
        <p><b>Resume:</b> <a href="{% url 'descargar_pdf' %}"> Download pdf</a></p>  

    </div>
</div>
{% endblock %}